<head>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  <div class="center">
    <div class="presidents">
      <% presidents.forEach(function(president) {%>
        <div>
            <img src="<%= president.portrait %>"">
            <a href="<%= url %><%= president.href %>"><p><%= president.name %></p></a>
            <p><%= president.party %></p>
        </div>
      <% }); %>
    </div>  
  </div>
</body>